<appSettings>
	<add key="Host" value="smtp.gmail.com" />
	<add key="Port" value="587" />
	<add key="From" value="taskpilotspprt@gmail.com" />
	<add key="Password" value="eoarbgzttfhoduut" />
	<add key="SMSAccountIdentification" value="0df36c64" />
	<add key="SMSAccountPassword" value="UbSoPdG7edmVXLCA" />
	<add key="SMSAccountFrom" value="60102012687" />
</appSettings>
