@{
    ViewBag.Title = "Confirm Email";
    Layout = "LoginRegister_Layout";
}
<p class="text-center">
    Thank you for confirming your email.
</p>
<p class="text-center"> <a asp-action="Login" asp-controller="Account">Click here to Log in</a></p>


