@{
    ViewBag.Title = "Forgot Password";
    Layout = "LoginRegister_Layout";
}

<p class="text-center">
    Please Check Your Email, The Reset Password Link Has Sent There.
</p>
<p class="text-center"><a asp-action="Login" asp-controller="Account">Click Here To Log in</a></p>


