@{
    ViewBag.Title = "Reset Password";
    Layout = "LoginRegister_Layout";
}

<p class="text-center">
    Your Password Has Been Reset.
</p>
<p class="text-center"> <a asp-action="Login" asp-controller="Account">Click here to Log in</a></p>


