<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/bundle.css" />
</head>
<body>
    <div class="container-fluid">
        <main role="main">
            <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
                 data-sidebar-position="fixed" data-header-position="fixed">
                <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <div class="row justify-content-center w-100">
                            <div class="col-md-8 col-lg-6 col-xxl-3">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <div asp-validation-summary="ModelOnly"></div>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        }
                                        <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                            <img src="~/img/Logo.png" width="180" alt="">
                                        </a>
                                        <p class="text-center">Your All-In-One Task Management App</p>
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/js/bundle.js"></script>
    <script>
        $('form').submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled')
                    .html("<span class='spinner-border spinner-border-sm' aria-hidden='true'></span><span role='status'> Loading...</span>");
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
