@model TaskPilot.Web.ViewModels.EditPermissionViewModel

@{
    string currTask = string.Empty;
    string action = string.Empty;

    if (Model.Id == null && TempData["Error"] == null)
    {
        currTask = "New Permission";
        action = "New Permission";
        ViewBag.Title = "New Permission";
    }
    else
    {
        currTask = Model.Name;
        action = "Edit Permission";
        ViewBag.Title = "Edit Permission";
    }
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb mb-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Permission">System Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@currTask</li>
                    </ol>
                </nav>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">@action</h5>
                        <form asp-action="New" asp-controller="Permission" method="post">
                            <div class="card-body px-4 py-3">
                                <div class="row mb-3 ">
                                    <label asp-for="Name"></label>
                                    <input type="text" asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="FeatureId"></label>
                                    <select class="form-control" asp-for="FeatureId"
                                            asp-items="@(new SelectList(Model.Features, "Id", "Name"))">
                                    </select>
                                    <span asp-validation-for="Features"></span>
                                </div>
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-primary float-end mb-3">Create Permission</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

