@model TaskPilot.Web.ViewModels.UserPermissionViewModel

@{
    ViewBag.Title = "User Management";
    Layout = "_Layout";
}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">System Management</a></li>

            <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
        </ol>
    </nav>
    <div class="row">
        <div class="d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                        <div class="mb-3 mb-sm-0">
                            <h5 class="card-title fw-semibold">Users Overview</h5>
                        </div>
                        <div class="btn-group">
                            @if (Model.UserPermissions.Any(r => r.Name == "New" && r.Features.Name == "User"))
                            {
                                <a href="@Url.Action("New", "User")" class="btn btn-primary">New</a>
                            }
                            @if (Model.UserPermissions.Any(r => r.Name == "Update" && r.Features.Name == "User"))
                            {
                                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    More Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" id="edit">Edit</a></li>
                                    @if (Model.UserPermissions.Any(r => r.Name == "Delete" && r.Features.Name == "User"))
                                    {
                                        <li><a class="dropdown-item" href="#" id="delete">Delete</a></li>
                                    }
                                    @if (Model.UserPermissions.Any(r => r.Name == "AssignRole" && r.Features.Name == "User"))
                                    {
                                        <li><a class="dropdown-item" href="#" id="assignRole">Assign Role</a></li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <table class="display nowrap" id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" name="select-all" /></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User Role</th>
                                <th>Created On</th>
                                <th>Last Updated</th>
                                <th>Last Login</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        let dataTables = $('#example').DataTable({
            responsive: true,
            ajax: {
                url: "/api/user",
                dataSrc: ""
            },
            order: [[1, 'asc']],
            columns: [
                {
                    searchable: false,
                    orderable: false,
                },
                {
                    data: "name"
                },
                {
                    data: "email"
                },
                {
                    data: "userRole"
                },
                {
                    data: "created",
                    render: function (data, type, user) {
                        return user.created != null ? moment(data).format('DD/MM/YYYY', 'YYYY/MM/DD') : "";
                    }
                },
                {
                    data: "lastUpdated",
                    render: function (data, type, user) {
                        return user.lastUpdated != null ? moment(data).format('DD/MM/YYYY', 'YYYY/MM/DD') : "";
                    }
                },
                {
                    data: "lastLogin",
                    render: function (data, type, user) {
                        return user.lastLogin != null ? moment(data).format('DD/MM/YYYY', 'YYYY/MM/DD') : "";
                    }
                }

            ],
            columnDefs: [
                {
                    targets: 0,
                    className: 'dt-body-center',

                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="chkbx" value="">'
                    }
                },
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child',
            },
        })

        $('#edit').on('click', function () {
            let data = dataTables.rows(function (idx, data, node) {
                return $(node).find('input[type="checkbox"][name="chkbx"]').prop('checked');
            }).data().toArray();

            if (data.length > 1 || data.length < 0) {
                alert("Bulk Edit Not Supported");
            } else {
                var url = '@Url.Action("Update", "User", new { username = "__id__" })';
                window.location.href = url.replace('__id__', data[0]['username']);
            }

            console.log(data);
        });

        $('#assignRole').on('click', function () {
            let data = dataTables.rows(function (idx, data, node) {
                return $(node).find('input[type="checkbox"][name="chkbx"]').prop('checked');
            }).data().toArray();

            if (data.length > 1 || data.length < 0) {
                alert("Bulk Assign Not Supported");
            } else {
                var url = '@Url.Action("AssignRole", "User", new { username = "__id__" })';
                window.location.href = url.replace('__id__', data[0]['username']);
            }

            console.log(data);
        });

        $('#delete').on('click', function () {
            let data = dataTables.rows(function (idx, data, node) {
                return $(node).find('input[type="checkbox"][name="chkbx"]').prop('checked');
            }).data().toArray();

            let rows = dataTables.rows(function (idx, data, node) {
                return $(node).find('input[type="checkbox"][name="chkbx"]').prop('checked');
            });

            const Id = [];
            data.forEach((row) => {
                Id.push(row.username);
            });

            if (confirm("Are you sure you want to delete this user?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "User")',
                    type: "POST",
                    dataType: 'json',
                    data: { userName: Id },
                    success: function (data) {
                        window.location.href = data;
                    },
                    error: function (request, status, errorThrown) {
                        window.location.href = request.responseJSON.data;
                    }
                });
            }
        });

        $('input[name="select-all"]').on('click', function (e) {
            var checked = $(this).prop('checked');

            dataTables.cells(null, 0).every(function () {
                var cell = this.node();
                $(cell).find('input[type="checkbox"][name="chkbx"]').prop('checked', checked);
            });
        })

    </script>


}